/* Styles for Product List */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f8f8f8;
    min-height: 70vh;
    padding: 20px;
}

/* Styles for Product Card */
.product-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Styles for Product Image */
.product-image {
    height: 200px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles for Product Details */
.product-details {
    padding: 20px;
}

/* Styles for Product Name */
.product-name {
    font-size: 20px;
    font-weight: bold;
    color: #108ee9;
    margin-bottom: 10px;
}

/* Styles for Product Description */
.product-description {
    margin-bottom: 10px;
}

/* Styles for Product Information */
.product-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

/* Styles for Information Row */
.info-row {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

/* Styles for Information Label */
.info-label {
    font-weight: bold;
    margin-right: 5px;
}

/* Styles for Information Value */
.info-value {
    font-weight: bold;
}

/* Styles for Action Buttons */
.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

/* Styles for Update Button */
.update-button {
    margin-right: 10px;
}

/* Styles for Delete Button */
.delete-button {
    background-color: #ff5252;
    color: #fff;
}

/* Add more styles for other elements as needed */

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-input {
    width: 300px;
    margin-right: 15px;
  }
  
  input {
    color: #333;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    background-color: #83d98a;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #c6c8d3;
  }
  
  mat-icon {
    font-size: 24px;
  }
  
  @media (max-width: 600px) {
    .search-input {
      width: 100%;
      margin-right: 0;
    }
  }
  
